<div class="row">
  <div class="col-1">
    <strong>Title:</strong>
  </div>
  <div class="col-11">
    <%= @feed.title %>
  </div></div>
<div class="row">
  <div class="col-1">
    <strong>Url:</strong>
  </div>
  <div class="col-11">
    <%= @feed.url %>
  </div></div>
<hr />
<%= link_to 'Edit', edit_feed_path(@feed) %>
 |
<%= link_to 'Back', feeds_path %>
