<table class="table  table-hover">
  <caption style="caption-side:top; text-align: center">Posts List</caption>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.title, post.url, target: "_blank" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) if @pagy.count > Pagy::VARS[:items] %>
