# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies, and  run linters
name: Rails CI
permissions:
  contents: read
  pull-requests: write
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        ports:
          - "5432:5432"
        env:
          POSTGRES_DB: rails_6_rss_reader_test
          POSTGRES_USER: rails_6_rss_reader_dev
          POSTGRES_PASSWORD: rails_6_rss_reader_pass
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://rails_6_rss_reader_dev:rails_6_rss_reader_pass@localhost:5432/rails_6_rss_reader_test"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      # Add or replace dependency steps here
      - run: corepack enable && corepack prepare yarn@4.12.0
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: 'yarn'
      - name: install app dependencies
        run: yarn install --frozen-lockfile
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab
        with:
          bundler-cache: true
      # Add or replace database setup steps here
      - name: Set up database schema
        run: bin/rails db:create db:schema:load
      # Add or replace test runners here
      - name: Run tests
        run: bin/rspec
  security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab
        with:
          bundler-cache: true
      - name: Generate binstubs
        run: bundle binstubs bundler-audit brakeman
      - name: Security audit dependencies
        run: bin/bundler-audit --update
      - name: Security audit application code
        run: bin/brakeman
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@d5f787ce339eb0767271bc01d922e85644c2c8ab
        with:
          bundler-cache: true
      - name: Generate binstubs
        run: bundle binstubs rubocop
      - name: Lint Ruby files
        run: bin/rubocop --parallel
