.navbar-nav-scroll
  ul.navbar-nav.bd-navbar-nav
    li.nav-item.nav-link= link_to('<span class="glyphicon glyphicon-home"></span> Feeds'.html_safe, root_path)
    li.nav-item.nav-link= link_to('<span class="glyphicon glyphicon-piggy-bank"></span> Posts'.html_safe, posts_path)
